
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajusta la altura al 100% de la ventana */
    background-color: #f0f0f0; 
  }
  
  
  .saludo {
    font-size: 20px; 
    font-weight: bold; 
    text-align: center; 
    padding: 20px; 
    border: 2px solid #333; 
    border-radius: 5px; 
    background-color: #fff; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
  }

  .box{

    height: 50vh

  }
  